.snowfall {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -2em;
  color: #fff;
  font-size: 1.5em;
  opacity: 0.8;
  animation: fall linear infinite;
  user-select: none;
}

@keyframes fall {
  0% {
    transform: translateY(-2em) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) scale(1.2);
    opacity: 0.9;
  }
}

.snowflake {
  left: calc(100vw * var(--i) / 40);
  animation-duration: calc(3s + 6s * var(--i) / 40);
  animation-delay: calc(-10s * var(--i) / 40);
}
